.doctors {
    height: 100vh;
    padding: 1em;
}

.img-container {
    background-color: #0681A8;
    height: 250px;
    border-radius: 15px;

    img {
        width: 300px
    }
}

.doct-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .title {
        h1 {
            margin-bottom: 0;
        }

        p {
            margin-top: 5px;
        }
    }

    .val, .head {
        display: flex;
        flex-direction: row;
        align-self: stretch;
        justify-content: space-between;

        p {
            padding: 0;
            margin: 5px;
        }
    }
}


.about {
    display: flex;
    flex-direction: column;
    text-align: left;
    h1 {
        margin: 20px 0px 3px 0px;
        padding: 0;
    }

}

.btns {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.book {
    width: 100%;
    padding: 1em;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    background-color: #019874;
    color: white;
    cursor: pointer;
    margin: 40px 0px;
}