/* Base styling for .App */
.App {
  text-align: center;
  width: 100%;
  max-width: 500px; /* Maximum width for non-mobile screens */
  height: auto;
  background-color: white;
  margin: 0 auto; /* Center the container */
}

/* Mobile-specific styling */
@media (max-width: 500px) {
  .App {
    width: 100vw;
    max-width: 100%;
    margin: 0; /* Ensure no extra margin on mobile */
  }
}
